<%- include ../partials/header.ejs %>

<!-- Content for the edit page-->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <h1><% title%>Edit Application</h1>
        <form class="form" method="post">
        
        <div class="form-group">
        <label for="MakeTextField" >Make</label>
        <input type="text" class="form-control"
        id="MakeTextField"
        placeholder="Enter The Cars Make"
        name="Make" 
        value="<%= cars.Make %>"
        required></div>
            
             <div class="form-group">
        <label for="ModelTextField" >Model</label>
        <input type="text" class="form-control"
        id="ModelTextField"
        placeholder="Enter The Cars Model"
        name="Model" 
        value="<%= cars.Model %>"
        required></div>

         <div class="form-group">
        <label for="ColorTextField" >Color</label>
        <input type="text" class="form-control"
        id="ColorTextField"
        placeholder="Enter The Cars Color"
        name="Color" 
        value="<%= cars.Color %>"
        required></div>

         <div class="form-group">
        <label for="YearTextField" >Year</label>
        <input type="number" class="form-control"
        id="YearTextField"
        placeholder="Enter The Car Year"
        name="Year" 
        value="<%= cars.Year %>"
        required></div>

         <div class="form-group">
        <label for="PriceTextField" >Price</label>
        <input type="number" class="form-control"
        id="PriceTextField"
        placeholder="Enter The Cars Price"
        name="Price" 
        value="<%= cars.Price %>"
        required></div>

         <div class="form-group">
        <label for="DescTextField" >Description</label>

        <textarea type="text" class="form-control"
        id="DescTextField"
        placeholder="Enter The Description"
        name="Description" required> <%= cars.Description %></textarea>
         
        </div>
        <br>
        <button class="btn-btn-primary" type="submit">
        <i class="fas fas-edit"></i>Submit</button>

        <a href="/cars-list" class="btn btn-warning">
        <i class="fas fa-undo"></i>Cancel</a>
        </form> 
        </div>
    </div>
</div>

<%- include ../partials/footer.ejs %> 